[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
openai = "*"
passlib = "*"
pymongo = "*"
aws-wsgi = "*"
requests = "*"
flask-cors = "*"
flask-restful = "*"
firebase-admin = "*"
flask-jwt-extended = "*"

[requires]
python_version = "3.13"